<div class="d-flex">
  <mat-card class="mx-auto mt-5">
    <form [formGroup]="form" class="d-flex flex-column">

      <mat-form-field class="mb-4">
        <mat-label>first name</mat-label>
        <input [formControl]="firstNameControl" matInput placeholder="first name">
        <mat-error>
          <app-form-field-errors [errors]="firstNameControl.errors"></app-form-field-errors>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mb-4">
        <mat-label>last name</mat-label>
        <input [formControl]="lastNameControl" matInput placeholder="last name">
        <mat-error>
          <app-form-field-errors [errors]="lastNameControl.errors"></app-form-field-errors>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mb-4">
        <mat-label>email</mat-label>
        <input [formControl]="emailControl" matInput placeholder="email" type="email">
        <mat-error>
          <app-form-field-errors [errors]="emailControl.errors"></app-form-field-errors>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mb-4">
        <mat-label>password</mat-label>
        <input [formControl]="passwordControl" matInput placeholder="password" type="password">
        <mat-error>
          <app-form-field-errors [errors]="passwordControl.errors"></app-form-field-errors>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="mx-auto mt-5" (click)="signUp(form)" [disabled]="form.invalid">submit</button>
      <mat-error>
        <app-form-field-errors [errors]="form.errors"></app-form-field-errors>
      </mat-error>
    </form>
  </mat-card>
</div>
